:global html {
  height: 100%;
}
:global body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

:global #map {
  width: 100%;
  height: 100%;
}

:global #settings-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  background: #eee;
  padding: 4px;
  border-top-right-radius: 4px;
  font-family: Helvetica;
  font-size: x-small;
}
:global .openskimap-style-control > button {
  font-weight: bold;
  width: auto;
  padding: 0 8px 0 8px;
}
:global .openskimap-style-enabled {
  color: #3cb6e3;
}

:global .ski-area-cluster-popup {
  margin: -5px;
  font-weight: 500;
}

:global .ski-popup {
  max-width: 300px;
}

:global .ski-popup-header {
  font-size: 14px;
  margin-right: 4px;
}

:global .ski-popup-title {
  font-weight: 500;
}

:global .ski-popup-labels {
  margin-top: 4px;
  position: flex;
}

:global .height-profile {
  margin-top: 20px;
}

:global .label-night {
  background-color: #000000;
}

:global .ski-popup-labels > * {
  margin-right: 4px;
}

:global .operating-status-icon {
  vertical-align: text-top;
  color: grey;
}

:global(.operating-status-icon-operating, .status-icon-operating) {
  color: green;
}

:global(.operating-status-icon-closed, .status-icon-disused, .status-icon-abandoned) {
  color: red;
}

:global(.status-icon-construction, .status-icon-planned, .status-icon-proposed) {
  color: purple;
}

:global .tooltip-inner {
  max-width: 250px !important;
}

:global .mapboxgl-popup-content {
  padding: 10px;
}

:global .distance-and-elevation-info {
  margin-top: 4px;
}

:global .distance-and-elevation-info > * {
  margin-right: 8px;
}

:global .height-profile {
  width: 300px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Loading spinner */

:global .lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
:global .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: grey transparent transparent transparent;
}
:global .lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
:global .lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
:global .lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes :global(lds-ring) {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
